#IP address
[ADDRESSES]
IP = auto
HOSTNAME = HOSTNAME
SMTPPort = 25

#DynamicPorts
[PORTS]
# comma delimination
tcpports = 1025, 1110, 1433, 1434, 1723, 2049, 3306, 3389, 5432, 5900, 6000, 23, 53, 110, 111, 119, 135, 139, 143, 445, 514, 993, 995
udpports = 161, 5600

#Virustotal
[VirusTotal]
VTEnable = no
VTKey = PUT API KEY HERE

#AbuseIPDB
[AbuseIPDB]
IPDBEnable = no
IPDBKey = PUT API KEY HERE

#LARGFEED
[LARGFEED]
Largfeed = no
Server = 127.0.0.1
Port = 1337

#Syslog
[SYSLOG]
Syslog = no
IP = 127.0.0.1
PORT = 514